@import '_normalize';
@import '_utilities';
@import '_theme_settings';

// Templates
@import '_header';
@import '_index';
@import '_footer';

html,
body {
  width: 100%;
  position: relative;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}